.container {
    padding: 100px 0;
    text-align: center;
    /* background: linear-gradient(45deg, #3498db, #8e44ad); */
    color: #fff;
}

.content {
    max-width: 400px;
    margin: 0 auto;
    color: #fff;
}

.title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
}

.description {
    font-size: 20px;
    margin-bottom: 40px;
}

.form {
    text-align: left;
}

.formGroup {
    margin-bottom: 20px;
}

.label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.input,
.textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.textarea {
    resize: vertical;
}

.submitButton {
    display: block;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #3498db;
    background-color: #3498db;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.submitButtonHovered {
    background-color: #2980b9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
